:root {
  --primary: #04063f;
}

*,
::after,
::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #010a27 14%, #0d0e47 42%, #080a3c 83%);
  height: 100vh;
  align-items: center;
  font-size: 18px;
  font-family: Inter;
  color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  text-transform: none;
}

/* my navbar and header styles */

.nav-card {
  background-color: #17115b;
  height: 55px;
  width: 700px;
  filter: drop-shadow(5px 4px 4px rgba(231, 228, 228, 0.25));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nav-list {
  text-align: center;
  line-height: auto;
  padding: 2px;
  width: 95px;
  height: 35px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(1, 1, 83);
  cursor: pointer;
  transition: 0.5s;
}

.nav-list:hover {
  background-color: orangered;
}

/* ****end nav + start mobile ***** */

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-move-up-down {
  animation: moveUpDown 3s ease-in-out infinite;
}
@keyframes moveDown {
  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }
}

.animate-move-down {
  animation: moveDown 3s ease-in-out infinite;
}

/* My section socials styles */

.Myicons {
  display: inline-flex;
}

.Myicons a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.Myicons a .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.Myicons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.Myicons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.Myicons a .layer span.fab {
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.Myicons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.Myicons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.Myicons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.Myicons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.Myicons a:nth-child(1) .layer span,
.Myicons a:nth-child(1) .text {
  color: #0840af;
  border-color: #0855f0;
}

.Myicons a:nth-child(2) .layer span,
.Myicons a:nth-child(2) .text {
  color: #1da1f2;
  border-color: #1da1f2;
}

.Myicons a:nth-child(3) .layer span,
.Myicons a:nth-child(3) .text {
  color: #e1306c;
  border-color: #e1306c;
}

.Myicons a:nth-child(4) .layer span,
.Myicons a:nth-child(4) .text {
  color: #04499e;
  border-color: #043e85;
}

.Myicons a:nth-child(5) .layer span,
.Myicons a:nth-child(5) .text {
  color: #ff0000;
  border-color: #ff0000;
}

.Myicons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}

.Myicons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #1da1f2;
}

.Myicons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}

.Myicons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}

.Myicons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}

.Myicons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.Myicons a:hover .text {
  bottom: -35px;
  opacity: 1;
}

/* My section hire me styles */
.hire {
  position: absolute;
  top: 15rem;
}

#button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #2a0394;
  font-weight: 500;
  border-radius: 6px;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

#button:hover {
  background: orangered;
}

.spark {
  position: absolute;
  left: 800px;
  top: 285px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  background: #ff640a;
  z-index: -1;

  /* animation: animate 2s linear forwards; */
}

.spark:nth-child(even) {
  background: transparent;
  border: 1px solid #fff;
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
}

/* my footer styles */

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #3586ff;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #0a0402;
  font-size: 1rem;
  font-weight: bolder;
  z-index: 1000;
}

.wave {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateBg 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateBg {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* mobile nav */
.menu_res {
  position: absolute;
  top: 10px;
  right: 0;
  flex-direction: column;
  gap: 5px;
  display: none; /* pour ecrans larges */
}
.mob_menu {
  background: orangered;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  z-index: 12;
  transition: 0.5s;
}
.mobile_nav {
  background-color: #17115b;
  width: 200px;
  height: 100vh;
  filter: drop-shadow(5px 4px 4px rgba(231, 228, 228, 0.25));
  border-radius: 2px;
  padding-left: 60px;
  padding-top: 15px;
  z-index: 10;
}
.nav-list-mobile {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-list-mobile:hover {
  background: orangered;
}
.mob_menu:hover {
  background: #04499e;
  transition: 0.5s;
}

/* reponsivite */

/* Très petits écrans (jusqu'à 320px) */
@media (max-width: 320px) {
  .nav-card {
    display: none;
  }
  .menu_res {
    display: flex;
  }
}

/* Petits écrans (321px à 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .nav-card {
    display: none;
  }
  .menu_res {
    display: flex;
  }
}

/* Écrans moyens (481px à 768px, tablettes) */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-card {
    display: none;
  }
  .menu_res {
    display: flex;
  }
}

/* Écrans larges (769px à 1024px, petits ordinateurs portables) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Écrans très larges (1025px à 1440px, ordinateurs de bureau standards) */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* Écrans ultra-larges (1441px et plus, écrans 4K ou plus grands) */
@media (min-width: 1441px) {
}
